
{% extends 'base.html' %}
{% load static %}

{% block  content %}
<main>
    <table class="content_about_us">

        <tr>
            <td>
        <h1 class="header1">KINOPOISk 2.0</h1>
            </td>
        </tr>
        <tr>
            <td>
            <h2 class="header2">enjoy watching</h2>
            </td>
        </tr>

            <tr>

                    <td>
                         <span class="text_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exerci Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exerci</span>

                            <form>
                    <button class="btn-start">
                    start
                    </button>
                                    </form>
                </td>
                <td class="img_sofa">
                    <img  src="{% static 'films/images/sofa_people.png' %}"  alt="sofa">
                </td>

            </tr>

  </table>


</main>

{% endblock %}