<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header style="width:100%"; height=200px; background="light-blue;">
    <ul class="nav-menu">
    {% for element in menu %}
        <li><a href=""</li>
        <li>{{element}}</li>
        <li>{{element}}</li>
        <li>{{element}}</li>
        <li>{{element}}</li>
    {% endfor %}
    </ul>
</header>
{% block content %} {% endblock %}
<footer style="width:100%"; height=200px; background="light-blue;">
    FOOTER
</footer>
</body>
</html>